<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.searcher"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.searcher.Mainsearch"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    <activity android:name=".AboutClass" android:label="About Class"></activity>
    <activity android:name=".Kalkulus" android:label="Kalkulus"></activity>
    <activity android:name=".Probstat" android:label="Probstat"></activity>
    <activity android:name=".Sismik" android:label="Sistem Mikroprosessor"></activity>

    </application>
    

</manifest>